/* Place CSS styles here */

body { 
    color: hsl(0, 60%, 1%);
    background-color:rgba(255, 217, 0, 0.589);
    font-family: 'Dosis', sans-serif;
}

h1 {
    font-family: 'Lato', sans-serif; ;
}
img {
    width:500 pix;
    Height: auto;
}

p {
    color: crimson;
    text-align: center;
}

h2 { 
    color: blueviolet;
    text-align: center;
}
h3 {
    text-align: center;
}
.head1 {
    background-color: #eceaeb;
    text-align: center;
    font-size: x-large;
    font-style: italic;

}

.pic1 { 
    border-style: groove;
    align-items: center;
}

.divclass1 {
    text-align: center;
}
.artistbio {
    text-align: center;
    text-emphasis-style: bold;
    text-size-adjust: 100;
    text-decoration-color: #000000;
}
form {
    border: 3px solid #f1f1f1;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  /* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }

  .orange-ferret-featured-item
  {max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  }
  
